body {
  color: #363636;
  font-family: Arial, sans-serif;
  line-height: 1.616;
  margin: 0;
  padding: 1rem;
}
/*section {
  max-width: 45em;
  margin: 0 auto 2rem;
}*/
/*h1 + hr {
  margin-bottom: 8rem;
}*/
blockquote {
  border-left: 2px solid rgba(120, 120, 120, 0.3);
  margin-left: -2em;
  padding-left: 2rem;
  font-size: 1.2em;
}
cite {
  font-size: 1rem;
}
/*section + section {
  margin-top: 6rem;
}
section:last-of-type {
  margin-bottom: 8em;
}*/
h1, h2, h3, h4, h5, h6 {
  column-span: all;
}
/*h1 {
  font-size: 1.25em;
}
h2 {
  font-size: 3.25em;
}*/
h3 {
  /*font-size: 2em;*/
  margin: 3em 0 1rem;
}
p {
  margin: 0 0 1em;
}

li p:last-of-type {
  margin-bottom: 0;
}
/*
.cc-2 {
  max-width: 50em;
  column-count: 2;
  column-gap: 4em;
}
*/

main {
  font-size: 1.125em;
  margin: auto;
  max-width: 35em;
}
